workup/opennms-node-red-2/minimal-minion-grpc/container-fs/node-red1/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2199834c985ad9ec",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8f6af147be20bf75",
        "type": "tab",
        "label": "DashBoard UI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "13e7facd6d2aeb6d",
        "type": "group",
        "z": "8f6af147be20bf75",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [],
        "x": -6,
        "y": 4459,
        "w": 40,
        "h": 40
    },
    {
        "id": "7fce09ec88d9e2fb",
        "type": "group",
        "z": "8f6af147be20bf75",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f1cdb323b57b2df9"
        ],
        "x": 34,
        "y": 5299,
        "w": 312,
        "h": 82
    },
    {
        "id": "f55a34303645bae4",
        "type": "mqtt-broker",
        "name": "mqtt-in-controls",
        "broker": "mqtt-broker",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "510ece7b6d1bb55a",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "NOC-FEED",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "dbc6f06d8565e9c9",
        "type": "Stackhero-InfluxDB-v2-Server",
        "name": "NOC-GROUNDSTATION",
        "host": "influxdb",
        "port": "8086",
        "tls": false
    },
    {
        "id": "321211b73ea29ab4",
        "type": "ui_tab",
        "name": "Noc",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c58648e3081d862b",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 68,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2b8e58f5e245577a",
        "type": "ui_group",
        "name": "Control Panel",
        "tab": "321211b73ea29ab4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "be2d9ae06cc76f30",
        "type": "ui_group",
        "name": "Ground Station ",
        "tab": "321211b73ea29ab4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1f77d35714f25cb7",
        "type": "ui_group",
        "name": "Site Physical Security",
        "tab": "321211b73ea29ab4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "38bb42b4a055f85d",
        "type": "ui_group",
        "name": "Status",
        "tab": "321211b73ea29ab4",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "03ed7d65bec9fa64",
        "type": "mqtt-broker",
        "name": "fast-api/write/powerAmpDecrease",
        "broker": "mqtt-broker",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "51087a78de6db44f",
        "type": "ui_group",
        "name": "Driver",
        "tab": "321211b73ea29ab4",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "eb3f5e23957bb0d0",
        "type": "inject",
        "z": "2199834c985ad9ec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "26c5005db6f7a6c2"
            ]
        ]
    },
    {
        "id": "2558db12178b93a9",
        "type": "mqtt in",
        "z": "2199834c985ad9ec",
        "name": "",
        "topic": "GroundStation/Timer",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 80,
        "wires": [
            [
                "511587b38924081d"
            ]
        ]
    },
    {
        "id": "511587b38924081d",
        "type": "debug",
        "z": "2199834c985ad9ec",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "26c5005db6f7a6c2",
        "type": "mqtt out",
        "z": "2199834c985ad9ec",
        "name": "",
        "topic": "GroundStation/Timer",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 300,
        "y": 160,
        "wires": []
    },
    {
        "id": "8663c7f548b5e96c",
        "type": "inject",
        "z": "2199834c985ad9ec",
        "name": "number 10",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "26c5005db6f7a6c2"
            ]
        ]
    },
    {
        "id": "f54436773cf6411e",
        "type": "inject",
        "z": "2199834c985ad9ec",
        "name": "hello",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hello",
        "payloadType": "str",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "26c5005db6f7a6c2"
            ]
        ]
    },
    {
        "id": "adb60c2e3fea82b5",
        "type": "mqtt in",
        "z": "2199834c985ad9ec",
        "name": "",
        "topic": "GroundStation1/Door1",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 360,
        "wires": [
            [
                "bf1bfccf94ba3130",
                "79fd833c63c6ba38"
            ]
        ]
    },
    {
        "id": "3db08bcdb2f9c74f",
        "type": "mqtt out",
        "z": "2199834c985ad9ec",
        "name": "",
        "topic": "GroundStation1/Door1",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 340,
        "y": 320,
        "wires": []
    },
    {
        "id": "f9c483289554b81c",
        "type": "debug",
        "z": "2199834c985ad9ec",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1170,
        "y": 380,
        "wires": []
    },
    {
        "id": "da51b886f0fde288",
        "type": "inject",
        "z": "2199834c985ad9ec",
        "name": "Closed",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Closed",
        "payloadType": "str",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "3db08bcdb2f9c74f"
            ]
        ]
    },
    {
        "id": "0676a69841d3db41",
        "type": "inject",
        "z": "2199834c985ad9ec",
        "name": "Open",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Open",
        "payloadType": "str",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "3db08bcdb2f9c74f"
            ]
        ]
    },
    {
        "id": "bf1bfccf94ba3130",
        "type": "switch",
        "z": "2199834c985ad9ec",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Open",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Closed",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 360,
        "wires": [
            [
                "bec6280291770de8"
            ],
            [
                "8e47ccbacd26aea5"
            ]
        ]
    },
    {
        "id": "bec6280291770de8",
        "type": "change",
        "z": "2199834c985ad9ec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "The Door is open",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 320,
        "wires": [
            [
                "f9c483289554b81c"
            ]
        ]
    },
    {
        "id": "8e47ccbacd26aea5",
        "type": "change",
        "z": "2199834c985ad9ec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "The Door is Closed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 420,
        "wires": [
            [
                "f9c483289554b81c"
            ]
        ]
    },
    {
        "id": "e261a695ca6f13c9",
        "type": "debug",
        "z": "2199834c985ad9ec",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1470,
        "y": 620,
        "wires": []
    },
    {
        "id": "79fd833c63c6ba38",
        "type": "influxdb out",
        "z": "2199834c985ad9ec",
        "influxdb": "510ece7b6d1bb55a",
        "name": "",
        "measurement": "Door",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "AALTO",
        "bucket": "GroundStation1",
        "x": 1350,
        "y": 520,
        "wires": []
    },
    {
        "id": "3aa48c03f91f8aaf",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "QBandRFDisconnect",
        "tooltip": "",
        "group": "2b8e58f5e245577a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 220,
        "wires": [
            [
                "7e582e955e6e0ff7",
                "53482ae24db4f0eb"
            ]
        ]
    },
    {
        "id": "1bb78214d4e1c7ea",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "PowerAmpReset",
        "tooltip": "",
        "group": "2b8e58f5e245577a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "Open",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Closed",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "cdc0a5262ea77c34",
                "8ee8a66e1342c623"
            ]
        ]
    },
    {
        "id": "93c41b76b38fb5fc",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "RemoteSiteDoor",
        "tooltip": "",
        "group": "2b8e58f5e245577a",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 1000,
        "wires": [
            [
                "1910cf5b775abb34",
                "76797e50618d10a1"
            ]
        ]
    },
    {
        "id": "9edffbb9a687aa12",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI00-GSMains/diStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 1620,
        "wires": [
            [
                "f55181594e55d78a",
                "d15c5a82c5e805ae"
            ]
        ]
    },
    {
        "id": "366775ec6658c895",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI01-UPS/diStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1740,
        "wires": [
            [
                "e2475342c3182f5c",
                "5ab7a61e71da0f7f"
            ]
        ]
    },
    {
        "id": "84c31a5340aa6293",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI02-QBandPSU/diStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1840,
        "wires": [
            [
                "e44eaf33900d121b",
                "3f760516824b1d92"
            ]
        ]
    },
    {
        "id": "c6c4b8922ff7c9b4",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI04-QBandRFOvrL/diStatus",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 2060,
        "wires": [
            [
                "874153086e08735d",
                "9dfbf212d724514c"
            ]
        ]
    },
    {
        "id": "b02c4ea8cbb31b57",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI05-QBandOverCu/diStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 2140,
        "wires": [
            [
                "024d7c5f9adb78aa",
                "f07cadd8356570eb"
            ]
        ]
    },
    {
        "id": "ecf7219dbf13fd53",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI06-PosCtrlFail/diStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 2260,
        "wires": [
            [
                "292a0a42f78f376c",
                "e935d114bea0885b"
            ]
        ]
    },
    {
        "id": "f82993178339a128",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI07-VSWHigh/diStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 2320,
        "wires": [
            [
                "c005d4f1e8791dd9",
                "05c7490a8bc756db"
            ]
        ]
    },
    {
        "id": "f55181594e55d78a",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MainsPowerStatus",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 1660,
        "wires": []
    },
    {
        "id": "e2475342c3182f5c",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UPS",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 1700,
        "wires": []
    },
    {
        "id": "e44eaf33900d121b",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "QBandPSU",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 1880,
        "wires": []
    },
    {
        "id": "62bf76cbef0eeb23",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "QBandPA",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 1940,
        "wires": []
    },
    {
        "id": "874153086e08735d",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "QBandOverRF",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 740,
        "y": 2000,
        "wires": []
    },
    {
        "id": "024d7c5f9adb78aa",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "QBandOverCurrent",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 2100,
        "wires": []
    },
    {
        "id": "292a0a42f78f376c",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PositionerControllerFail",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1250,
        "y": 2260,
        "wires": []
    },
    {
        "id": "c005d4f1e8791dd9",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "VSWRHigh",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 2340,
        "wires": []
    },
    {
        "id": "180cfe48ae064d75",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "QBandOverTemp",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 2400,
        "wires": []
    },
    {
        "id": "33768f4b2034fe6c",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bay1DoorStatus",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 2500,
        "wires": []
    },
    {
        "id": "e287cd9ebf15e381",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "AntennaPSU",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 2640,
        "wires": []
    },
    {
        "id": "5e14e8b5f8d2c82f",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI08-QBandOverTm/diStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 2380,
        "wires": [
            [
                "180cfe48ae064d75",
                "307b8ea025fea374"
            ]
        ]
    },
    {
        "id": "78940f7abcf395b1",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI09-BayDoorStat/diStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 2480,
        "wires": [
            [
                "33768f4b2034fe6c",
                "61a30b9cb12ad0d9"
            ]
        ]
    },
    {
        "id": "377ffa303c17f7db",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI10-AntennaPSU/diStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 2560,
        "wires": [
            [
                "e287cd9ebf15e381",
                "c3e8dc5655b59af5"
            ]
        ]
    },
    {
        "id": "f00a9ad0362ea1c3",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI03-QBandPA_Off/diStatus",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 1940,
        "wires": [
            [
                "62bf76cbef0eeb23",
                "03667019a738340b"
            ]
        ]
    },
    {
        "id": "53482ae24db4f0eb",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 2,
        "group": "2b8e58f5e245577a",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "On",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "Off",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 530,
        "y": 280,
        "wires": []
    },
    {
        "id": "7e582e955e6e0ff7",
        "type": "change",
        "z": "8f6af147be20bf75",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "On",
                "fromt": "str",
                "to": "{\"value\":0}",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Off",
                "fromt": "str",
                "to": "{\"value\":1}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 120,
        "wires": [
            [
                "54242a6b77977c47"
            ]
        ]
    },
    {
        "id": "54242a6b77977c47",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/write/45MR-2404-0@QBandPARF_Discon/relayStatus",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 530,
        "y": 20,
        "wires": []
    },
    {
        "id": "bec176e15d0cc5f3",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/write/45MR-2404-0@QBandPAReset/relayStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1240,
        "y": 360,
        "wires": []
    },
    {
        "id": "cdc0a5262ea77c34",
        "type": "change",
        "z": "8f6af147be20bf75",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Closed",
                "fromt": "str",
                "to": "{\"value\":1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Open",
                "fromt": "str",
                "to": "{\"value\":0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 360,
        "wires": [
            [
                "bec176e15d0cc5f3"
            ]
        ]
    },
    {
        "id": "8ee8a66e1342c623",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 6,
        "group": "2b8e58f5e245577a",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Open",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "Closed",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 370,
        "y": 300,
        "wires": []
    },
    {
        "id": "1910cf5b775abb34",
        "type": "change",
        "z": "8f6af147be20bf75",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "On",
                "fromt": "str",
                "to": "{\"value\":1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Off",
                "fromt": "str",
                "to": "{\"value\":0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1120,
        "wires": [
            [
                "9188a9e2e1c70ca7"
            ]
        ]
    },
    {
        "id": "9188a9e2e1c70ca7",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/write/45MR-2404-0@Door/relayStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1160,
        "y": 960,
        "wires": []
    },
    {
        "id": "76797e50618d10a1",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 9,
        "group": "2b8e58f5e245577a",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Off",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "On",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 510,
        "y": 820,
        "wires": []
    },
    {
        "id": "e82c13461770da55",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/write/45MR-2404-0@QBandPARF_Discon/relayStatus",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1030,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "fc8b3085dec24227",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI00-GSMains/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1480,
        "y": 1580,
        "wires": []
    },
    {
        "id": "f9273e04e43d04ee",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "MainsPowerStatus",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1150,
        "y": 1580,
        "wires": [
            [
                "fc8b3085dec24227"
            ]
        ]
    },
    {
        "id": "8303d103b1a51a21",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI01-UPS/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1650,
        "y": 1660,
        "wires": []
    },
    {
        "id": "da76e5e78a6aaa7c",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "UPS",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1290,
        "y": 1660,
        "wires": [
            [
                "8303d103b1a51a21"
            ]
        ]
    },
    {
        "id": "e922949fb19db8d4",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI02-QBandPSU/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1730,
        "y": 1760,
        "wires": []
    },
    {
        "id": "37a5def5b111d851",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "QBandPSU",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1370,
        "y": 1760,
        "wires": [
            [
                "e922949fb19db8d4"
            ]
        ]
    },
    {
        "id": "fce601ea7bdefb35",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI03-QBandPA_Off/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1740,
        "y": 1880,
        "wires": []
    },
    {
        "id": "3e7232d93fceb4a9",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "QBandPA",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1360,
        "y": 1880,
        "wires": [
            [
                "fce601ea7bdefb35"
            ]
        ]
    },
    {
        "id": "e662381cb5c98fe4",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI04-QBandRFOvrL/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1760,
        "y": 1960,
        "wires": []
    },
    {
        "id": "3782ceadd6825ad4",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "QBandOverRF",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1400,
        "y": 1960,
        "wires": [
            [
                "e662381cb5c98fe4"
            ]
        ]
    },
    {
        "id": "7d072fba93618356",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI05-QBandOverCu/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1820,
        "y": 2040,
        "wires": []
    },
    {
        "id": "b045b2bfe875feeb",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "QBandOverCurrent",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1390,
        "y": 2040,
        "wires": [
            [
                "7d072fba93618356"
            ]
        ]
    },
    {
        "id": "21e149a35465da91",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "QBandOverTemp",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1390,
        "y": 2100,
        "wires": [
            [
                "5c1db79d41af5dc6"
            ]
        ]
    },
    {
        "id": "5c1db79d41af5dc6",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI08-QBandOverTm/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1840,
        "y": 2100,
        "wires": []
    },
    {
        "id": "96d6869bbb300c80",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "PositionerControllerFailure",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1300,
        "y": 2320,
        "wires": [
            [
                "ac1a5474e2a55542"
            ]
        ]
    },
    {
        "id": "ac1a5474e2a55542",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI06-PosCtrlFail/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1710,
        "y": 2320,
        "wires": []
    },
    {
        "id": "6a78d29a7788d5b8",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "VSWRHigh",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1170,
        "y": 2460,
        "wires": [
            [
                "f6438fc2a8fdafec"
            ]
        ]
    },
    {
        "id": "f6438fc2a8fdafec",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI07-VSWHigh/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1630,
        "y": 2460,
        "wires": []
    },
    {
        "id": "9a4dbad56c264a96",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "BayDoorStatus",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1180,
        "y": 2520,
        "wires": [
            [
                "3e8aa2827a840ff5"
            ]
        ]
    },
    {
        "id": "3e8aa2827a840ff5",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI09-BayDoorStat/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1640,
        "y": 2520,
        "wires": []
    },
    {
        "id": "05e3de15dac4f31d",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI10-AntennaPSU/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1680,
        "y": 2560,
        "wires": []
    },
    {
        "id": "ed382ba2975171fc",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "AntennaPSU",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1170,
        "y": 2560,
        "wires": [
            [
                "05e3de15dac4f31d"
            ]
        ]
    },
    {
        "id": "536673651f20c034",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI11-SmokeAlarm/diStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 2760,
        "wires": [
            [
                "7a0aee70da6470b4",
                "c66bee4c3a8f3080"
            ]
        ]
    },
    {
        "id": "7a0aee70da6470b4",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SmokeAlarm",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 2780,
        "wires": []
    },
    {
        "id": "7ab952c6cf84a5ac",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI12-HighHumidit/diStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 2880,
        "wires": [
            [
                "c3d95d257662420e",
                "812f6c951e311444"
            ]
        ]
    },
    {
        "id": "c3d95d257662420e",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "HighHumidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 2900,
        "wires": []
    },
    {
        "id": "cfc740648d86dcb3",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "SmokeAlarm",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1210,
        "y": 2760,
        "wires": [
            [
                "46194059c5bc7010"
            ]
        ]
    },
    {
        "id": "46194059c5bc7010",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI11-SmokeAlarm/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1680,
        "y": 2760,
        "wires": []
    },
    {
        "id": "46256f229abbd593",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "HighHumidity",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1210,
        "y": 2900,
        "wires": [
            [
                "497e7743a4aa5bde"
            ]
        ]
    },
    {
        "id": "497e7743a4aa5bde",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI12-HighHumidit/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1670,
        "y": 2900,
        "wires": []
    },
    {
        "id": "da6f52967caea4e4",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI13-AirCon/diStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 3020,
        "wires": [
            [
                "85c66c1ed2d82001",
                "7dc5fc55bd117271"
            ]
        ]
    },
    {
        "id": "85c66c1ed2d82001",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "AirConditioner",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 940,
        "y": 3040,
        "wires": []
    },
    {
        "id": "f3f0924a154d1446",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "AirConditioner",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1220,
        "y": 3080,
        "wires": [
            [
                "38bdd14d2ae08120"
            ]
        ]
    },
    {
        "id": "38bdd14d2ae08120",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI13-AirCon/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1660,
        "y": 3080,
        "wires": []
    },
    {
        "id": "a5c0b1ba2c027c79",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI14-FanTray/diStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 3140,
        "wires": [
            [
                "b0ad83b8881e8c74",
                "00664912472f16b7"
            ]
        ]
    },
    {
        "id": "b0ad83b8881e8c74",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "FanTray",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 3160,
        "wires": []
    },
    {
        "id": "22ba9c871eaafe4a",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "FanTray",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1200,
        "y": 3200,
        "wires": [
            [
                "6a6042edaac2144f"
            ]
        ]
    },
    {
        "id": "6a6042edaac2144f",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI14-FanTray/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1660,
        "y": 3200,
        "wires": []
    },
    {
        "id": "f419cb80ef055ee6",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI15-PosMisalign/diStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 3260,
        "wires": [
            [
                "af2468a6c1047d5b",
                "7e8a20a9748a4aec"
            ]
        ]
    },
    {
        "id": "af2468a6c1047d5b",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PositionerMisalignMent",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 3280,
        "wires": []
    },
    {
        "id": "1fe14e2a6d46f044",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "PositionerMisalignment",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1250,
        "y": 3260,
        "wires": [
            [
                "feb32b0a54c30560"
            ]
        ]
    },
    {
        "id": "feb32b0a54c30560",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-0@DI15-PosMisalign/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1670,
        "y": 3260,
        "wires": []
    },
    {
        "id": "7763613e5fd29dba",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-3800-0@AI00-QBandRSSI/aiValueRaw",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 3400,
        "wires": [
            []
        ]
    },
    {
        "id": "d6959555fccdbd9f",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "QBandRSSIValue",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2070,
        "y": 3420,
        "wires": []
    },
    {
        "id": "2e10adbb6306494b",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "QBandRSSIValue",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1230,
        "y": 3320,
        "wires": [
            [
                "24bf1cb50698d4f8"
            ]
        ]
    },
    {
        "id": "24bf1cb50698d4f8",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-3800-0@AI00-QBandRSSI/aiValueRaw",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1760,
        "y": 3320,
        "wires": []
    },
    {
        "id": "6e1261bd8c9063c7",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-3800-0@AI01-NodeBWBandP/aiValueRaw",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 3540,
        "wires": [
            []
        ]
    },
    {
        "id": "436c27e43806e4a3",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "NodeBWideBandPower",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1890,
        "y": 3700,
        "wires": []
    },
    {
        "id": "dc3523d3d06f4755",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "NodeBWidebandPower",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1250,
        "y": 3600,
        "wires": [
            [
                "31f8b1f20541496f"
            ]
        ]
    },
    {
        "id": "31f8b1f20541496f",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-3800-0@AI01-NodeBWBandP/aiValueRaw",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1920,
        "y": 3600,
        "wires": []
    },
    {
        "id": "46f9872a05d43b27",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-3800-0@AI02-PostMisalig/aiValueRaw",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 3660,
        "wires": [
            [
                "008726cc2fb41926",
                "a0bfe814c5d545ba"
            ]
        ]
    },
    {
        "id": "008726cc2fb41926",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PositionerMisAlignment",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 3680,
        "wires": []
    },
    {
        "id": "f992d83393c89d27",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "PositionerMisalignment",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1270,
        "y": 4640,
        "wires": [
            [
                "e74abfab2959644d"
            ]
        ]
    },
    {
        "id": "e74abfab2959644d",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-3800-0@AI02-PostMisalig/aiValueRaw",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1700,
        "y": 4640,
        "wires": []
    },
    {
        "id": "5eaa83c3533acfe9",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-6810-0@TC-00-SiteTemp/aiValueRaw",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 2140,
        "y": 4160,
        "wires": []
    },
    {
        "id": "da5d6fd54dc71bfb",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "SiteTemperature",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1500,
        "y": 4180,
        "wires": [
            [
                "5eaa83c3533acfe9"
            ]
        ]
    },
    {
        "id": "4c280ad219f9c2c3",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SiteTemperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2000,
        "y": 4000,
        "wires": []
    },
    {
        "id": "26c64b5bff3b1f04",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-6810-0@TC-00-SiteTemp/aiValueRaw",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 3780,
        "wires": [
            []
        ]
    },
    {
        "id": "8ad63b4a650c1b5d",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/write/45MR-2404-0@SiteFWReboot/relayStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1250,
        "y": 520,
        "wires": []
    },
    {
        "id": "536b1423ad07095a",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 11,
        "group": "2b8e58f5e245577a",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Off",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "On",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 530,
        "y": 420,
        "wires": []
    },
    {
        "id": "2608d3421f07678a",
        "type": "change",
        "z": "8f6af147be20bf75",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "On",
                "fromt": "str",
                "to": "{\"value\":1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Off",
                "fromt": "str",
                "to": "{\"value\":0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 500,
        "wires": [
            [
                "8ad63b4a650c1b5d"
            ]
        ]
    },
    {
        "id": "459226b30c915005",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "SiteFWReboot",
        "tooltip": "",
        "group": "2b8e58f5e245577a",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "2608d3421f07678a",
                "536b1423ad07095a"
            ]
        ]
    },
    {
        "id": "c81125ace896fd4b",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-6810-0@TC-01-CabTemp/aiValueRaw",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 2140,
        "y": 4520,
        "wires": []
    },
    {
        "id": "68363d5e0af8c15d",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "CabinetTemperature",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1700,
        "y": 4520,
        "wires": [
            [
                "c81125ace896fd4b"
            ]
        ]
    },
    {
        "id": "fc43b9a7521f91bc",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CabinetTemperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2020,
        "y": 4280,
        "wires": []
    },
    {
        "id": "ef842f18c8d397d2",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-6810-0@TC-01-CabTemp/aiValueRaw",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 3960,
        "wires": [
            []
        ]
    },
    {
        "id": "58bfea269c644fb8",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-1@DI00-CabTempHigh/diStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 4140,
        "wires": [
            [
                "999f9ffa55eba2f0",
                "278fa929d79e4aa8"
            ]
        ]
    },
    {
        "id": "999f9ffa55eba2f0",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "HighCabinetTemperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 4160,
        "wires": []
    },
    {
        "id": "254bf79bf0bb81a1",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "HighCabinetTemperature",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1270,
        "y": 4720,
        "wires": [
            [
                "e164ff1f715c8578"
            ]
        ]
    },
    {
        "id": "e164ff1f715c8578",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-1@DI00-CabTempHigh/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1700,
        "y": 4720,
        "wires": []
    },
    {
        "id": "f03ffad6d7eb625a",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-1@DI01-RearDoor1/diStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 4340,
        "wires": [
            [
                "33f21be453a3af82",
                "0b1f0c646bdaebf8"
            ]
        ]
    },
    {
        "id": "33f21be453a3af82",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RearDoor1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 4360,
        "wires": []
    },
    {
        "id": "6a1308726a40664f",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "RearDoor1",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1230,
        "y": 4800,
        "wires": [
            [
                "7a2b3aa6b984e201"
            ]
        ]
    },
    {
        "id": "7a2b3aa6b984e201",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-1@DI01-RearDoor1/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1690,
        "y": 4800,
        "wires": []
    },
    {
        "id": "b671f6688b5f9be7",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-1@DI02-RearDoor2/diStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 4500,
        "wires": [
            [
                "1c5742e70dc99413",
                "56e9fc5757b1e21f"
            ]
        ]
    },
    {
        "id": "1c5742e70dc99413",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RearDoor2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 4520,
        "wires": []
    },
    {
        "id": "09f7f6d2cdba63bd",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "RearDoor2",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1230,
        "y": 4900,
        "wires": [
            [
                "7f5da7d26654bcdb"
            ]
        ]
    },
    {
        "id": "7f5da7d26654bcdb",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-1@DI02-RearDoor2/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1690,
        "y": 4900,
        "wires": []
    },
    {
        "id": "4fe42c39729c5821",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-1@DI03-RearDoor3/diStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 4640,
        "wires": [
            [
                "d875b515efb637c7",
                "9300562997f3aaf1"
            ]
        ]
    },
    {
        "id": "d875b515efb637c7",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RearDoor3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 4660,
        "wires": []
    },
    {
        "id": "e422621ec2fb0b78",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "RearDoor3",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1230,
        "y": 5000,
        "wires": [
            [
                "7650347f66e67aaa"
            ]
        ]
    },
    {
        "id": "7650347f66e67aaa",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-1@DI03-RearDoor3/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1690,
        "y": 5000,
        "wires": []
    },
    {
        "id": "8ec20a56fd63c710",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-1@DI04-FrontDoor1/diStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 4800,
        "wires": [
            [
                "bcd375e242ce0981",
                "2303d6f01ea61179"
            ]
        ]
    },
    {
        "id": "bcd375e242ce0981",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "FrontDoor1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 4820,
        "wires": []
    },
    {
        "id": "9225af638a08282e",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "FrontDoor1",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1230,
        "y": 5080,
        "wires": [
            [
                "074e4f6ccd521963"
            ]
        ]
    },
    {
        "id": "074e4f6ccd521963",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-1@DI04-FrontDoor1/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1690,
        "y": 5080,
        "wires": []
    },
    {
        "id": "937c1646f2444415",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-1@DI05-FrontDoor2/diStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 4960,
        "wires": [
            [
                "715f3618ec8d6099",
                "0415b7f9d0373a98"
            ]
        ]
    },
    {
        "id": "715f3618ec8d6099",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "FrontDoor2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 950,
        "y": 4980,
        "wires": []
    },
    {
        "id": "1fa78904e1eb426b",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "FrontDoor2",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1230,
        "y": 5180,
        "wires": [
            [
                "17b6c2fc78bb9ec7"
            ]
        ]
    },
    {
        "id": "17b6c2fc78bb9ec7",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-1@DI05-FrontDoor2/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1690,
        "y": 5180,
        "wires": []
    },
    {
        "id": "9e0e165091eacc4d",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-1@DI06-FrontDoor3/diStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 5140,
        "wires": [
            [
                "cb1695775d369b45",
                "047834bc698f1095"
            ]
        ]
    },
    {
        "id": "cb1695775d369b45",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "1f77d35714f25cb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "FrontDoor3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 5160,
        "wires": []
    },
    {
        "id": "f143583091d05238",
        "type": "ui_switch",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "FrontDoor3",
        "tooltip": "",
        "group": "51087a78de6db44f",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"value\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"value\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1230,
        "y": 5280,
        "wires": [
            [
                "044a7c4845f77277"
            ]
        ]
    },
    {
        "id": "044a7c4845f77277",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "YAKU001/read/45MR-1601-1@DI06-FrontDoor3/diStatus",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f55a34303645bae4",
        "x": 1690,
        "y": 5280,
        "wires": []
    },
    {
        "id": "333bf19aab8a0fc7",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "fast-api/write/powerAmpIncrease",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 5420,
        "wires": [
            [
                "0dbc87ede27bdd2f"
            ]
        ]
    },
    {
        "id": "0dbc87ede27bdd2f",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "be2d9ae06cc76f30",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PowerAmpIncrease by dBm",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 5420,
        "wires": []
    },
    {
        "id": "1a648a4952d180b4",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "fast-api/write/powerAmpIncrease",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03ed7d65bec9fa64",
        "x": 480,
        "y": 5340,
        "wires": []
    },
    {
        "id": "087cb5fd172e87ce",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "fast-api/write/powerAmpDecrease",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 5600,
        "wires": [
            [
                "ff0db3ba44d52215"
            ]
        ]
    },
    {
        "id": "ff0db3ba44d52215",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "be2d9ae06cc76f30",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PowerAmpDecrease by dBm - ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 5600,
        "wires": []
    },
    {
        "id": "780fb7f9e5f49378",
        "type": "mqtt out",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "fast-api/write/powerAmpDecrease",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03ed7d65bec9fa64",
        "x": 560,
        "y": 5500,
        "wires": []
    },
    {
        "id": "3c50d013ed0118f3",
        "type": "ui_text_input",
        "z": "8f6af147be20bf75",
        "name": "",
        "label": "Test Input Power Amp Decrease",
        "tooltip": "",
        "group": "be2d9ae06cc76f30",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 170,
        "y": 5500,
        "wires": [
            [
                "780fb7f9e5f49378"
            ]
        ]
    },
    {
        "id": "9a4130d40cce2670",
        "type": "mqtt in",
        "z": "8f6af147be20bf75",
        "name": "",
        "topic": "fast-api/write/CabinDoorStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f55a34303645bae4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 5680,
        "wires": [
            [
                "a4ae2be28f997498",
                "c5650ff433298648"
            ]
        ]
    },
    {
        "id": "a4ae2be28f997498",
        "type": "ui_text",
        "z": "8f6af147be20bf75",
        "group": "be2d9ae06cc76f30",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CabindDoorStatus",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 5680,
        "wires": []
    },
    {
        "id": "f1cdb323b57b2df9",
        "type": "ui_text_input",
        "z": "8f6af147be20bf75",
        "g": "7fce09ec88d9e2fb",
        "name": "",
        "label": "Test Input Power Amp Increase",
        "tooltip": "",
        "group": "be2d9ae06cc76f30",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 190,
        "y": 5340,
        "wires": [
            [
                "1a648a4952d180b4"
            ]
        ]
    },
    {
        "id": "d15c5a82c5e805ae",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"value\": 1}",
                "valueType": "json"
            },
            {
                "color": "#ff0000",
                "value": "{\"value\": 0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 590,
        "y": 1600,
        "wires": []
    },
    {
        "id": "5ab7a61e71da0f7f",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"value\": 1}",
                "valueType": "json"
            },
            {
                "color": "#ff0000",
                "value": "{\"value\": 0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 590,
        "y": 1700,
        "wires": []
    },
    {
        "id": "3f760516824b1d92",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"value\": 1}",
                "valueType": "json"
            },
            {
                "color": "#ff0000",
                "value": "{\"value\": 0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 630,
        "y": 1800,
        "wires": []
    },
    {
        "id": "03667019a738340b",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\": 1}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\": 0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 610,
        "y": 1980,
        "wires": []
    },
    {
        "id": "9dfbf212d724514c",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\": 1}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\": 0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 630,
        "y": 2060,
        "wires": []
    },
    {
        "id": "f07cadd8356570eb",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\": 1}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\": 0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 2140,
        "wires": []
    },
    {
        "id": "e935d114bea0885b",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\": 1}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\": 0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 630,
        "y": 2220,
        "wires": []
    },
    {
        "id": "05c7490a8bc756db",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\": 1}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\": 0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 630,
        "y": 2300,
        "wires": []
    },
    {
        "id": "307b8ea025fea374",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\": 1}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\": 0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 630,
        "y": 2360,
        "wires": []
    },
    {
        "id": "61a30b9cb12ad0d9",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"value\": 1}",
                "valueType": "json"
            },
            {
                "color": "#ff0000",
                "value": "{\"value\": 0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 570,
        "y": 2460,
        "wires": []
    },
    {
        "id": "c3e8dc5655b59af5",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"value\": 1}",
                "valueType": "json"
            },
            {
                "color": "#ff0000",
                "value": "{\"value\": 0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 630,
        "y": 2560,
        "wires": []
    },
    {
        "id": "c66bee4c3a8f3080",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\": 1}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\": 0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 670,
        "y": 2720,
        "wires": []
    },
    {
        "id": "812f6c951e311444",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\": 1}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\": 0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 690,
        "y": 2840,
        "wires": []
    },
    {
        "id": "7dc5fc55bd117271",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\": 1}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\": 0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 670,
        "y": 2960,
        "wires": []
    },
    {
        "id": "00664912472f16b7",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"value\": 1}",
                "valueType": "json"
            },
            {
                "color": "#ff0000",
                "value": "{\"value\": 0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 3120,
        "wires": []
    },
    {
        "id": "7e8a20a9748a4aec",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\": 1}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\": 0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 3240,
        "wires": []
    },
    {
        "id": "d8afe4cd.65a53",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "start",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "start",
        "payloadType": "str",
        "x": 1210,
        "y": 3360,
        "wires": [
            [
                "d9a4374d.0bbd88"
            ]
        ]
    },
    {
        "id": "d9a4374d.0bbd88",
        "type": "event",
        "z": "8f6af147be20bf75",
        "name": "High Event QBandRSSI",
        "controlTopic": "control",
        "startCmd": "start",
        "stopCmd": "stop",
        "distribution": "gaussian",
        "expMeanInterval": 1,
        "minInterval": "3",
        "maxInterval": "2",
        "gaussMeanInterval": "1",
        "stdDev": "1",
        "outputTopic": "YAKU001/read/45MR-3800-0@AI00-QBandRSSI/aiValueRaw",
        "outputPayload": "{\"value\":8.234}",
        "outputPayloadType": "json",
        "maxEventCount": "0",
        "x": 1670,
        "y": 3420,
        "wires": [
            [
                "24bf1cb50698d4f8",
                "d6959555fccdbd9f",
                "0925bbbaa2879baa"
            ]
        ]
    },
    {
        "id": "736c96e8.5b772",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "toggle",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "toggle",
        "payloadType": "str",
        "x": 1210,
        "y": 3440,
        "wires": [
            [
                "d9a4374d.0bbd88"
            ]
        ]
    },
    {
        "id": "c4ce78c3.2705f8",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "stop",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "stop",
        "payloadType": "str",
        "x": 1210,
        "y": 3400,
        "wires": [
            [
                "d9a4374d.0bbd88"
            ]
        ]
    },
    {
        "id": "df235155c7f38a25",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "start",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "start",
        "payloadType": "str",
        "x": 1210,
        "y": 3480,
        "wires": [
            [
                "9bc1bd0b33c46af4"
            ]
        ]
    },
    {
        "id": "9bc1bd0b33c46af4",
        "type": "event",
        "z": "8f6af147be20bf75",
        "name": "Low Event QBandRSSI",
        "controlTopic": "control",
        "startCmd": "start",
        "stopCmd": "stop",
        "distribution": "gaussian",
        "expMeanInterval": 1,
        "minInterval": "3",
        "maxInterval": "2",
        "gaussMeanInterval": "1",
        "stdDev": "1",
        "outputTopic": "YAKU001/read/45MR-3800-0@AI00-QBandRSSI/aiValueRaw",
        "outputPayload": "{\"value\":4.234}",
        "outputPayloadType": "json",
        "maxEventCount": "0",
        "x": 1650,
        "y": 3520,
        "wires": [
            [
                "24bf1cb50698d4f8",
                "d6959555fccdbd9f",
                "0925bbbaa2879baa"
            ]
        ]
    },
    {
        "id": "0271ec29421e4871",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "toggle",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "toggle",
        "payloadType": "str",
        "x": 1210,
        "y": 3560,
        "wires": [
            [
                "9bc1bd0b33c46af4"
            ]
        ]
    },
    {
        "id": "507ea955980bac86",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "stop",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "stop",
        "payloadType": "str",
        "x": 1210,
        "y": 3520,
        "wires": [
            [
                "9bc1bd0b33c46af4"
            ]
        ]
    },
    {
        "id": "0925bbbaa2879baa",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\":4.234}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\":8.234}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 2070,
        "y": 3520,
        "wires": []
    },
    {
        "id": "85744bbc081f4ec7",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "start",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "start",
        "payloadType": "str",
        "x": 1210,
        "y": 3680,
        "wires": [
            [
                "7871e3418cab66aa"
            ]
        ]
    },
    {
        "id": "7871e3418cab66aa",
        "type": "event",
        "z": "8f6af147be20bf75",
        "name": "High Event NodeB",
        "controlTopic": "control",
        "startCmd": "start",
        "stopCmd": "stop",
        "distribution": "gaussian",
        "expMeanInterval": 1,
        "minInterval": "3",
        "maxInterval": "2",
        "gaussMeanInterval": "1",
        "stdDev": "1",
        "outputTopic": "YAKU001/read/45MR-3800-0@AI00-QBandRSSI/aiValueRaw",
        "outputPayload": "{\"value\":8.234}",
        "outputPayloadType": "json",
        "maxEventCount": "0",
        "x": 1630,
        "y": 3720,
        "wires": [
            [
                "f8528921012b750e",
                "436c27e43806e4a3",
                "31f8b1f20541496f"
            ]
        ]
    },
    {
        "id": "41b75746ab54ec3a",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "toggle",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "toggle",
        "payloadType": "str",
        "x": 1210,
        "y": 3760,
        "wires": [
            [
                "7871e3418cab66aa"
            ]
        ]
    },
    {
        "id": "c0d29f5a25ea0511",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "stop",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "stop",
        "payloadType": "str",
        "x": 1210,
        "y": 3720,
        "wires": [
            [
                "7871e3418cab66aa"
            ]
        ]
    },
    {
        "id": "1b747f2183400875",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "start",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "start",
        "payloadType": "str",
        "x": 1210,
        "y": 3800,
        "wires": [
            [
                "a54d4fb7a9e7aa32"
            ]
        ]
    },
    {
        "id": "a54d4fb7a9e7aa32",
        "type": "event",
        "z": "8f6af147be20bf75",
        "name": "Low Event NodeB",
        "controlTopic": "control",
        "startCmd": "start",
        "stopCmd": "stop",
        "distribution": "gaussian",
        "expMeanInterval": 1,
        "minInterval": "3",
        "maxInterval": "2",
        "gaussMeanInterval": "1",
        "stdDev": "1",
        "outputTopic": "YAKU001/read/45MR-3800-0@AI00-QBandRSSI/aiValueRaw",
        "outputPayload": "{\"value\":4.234}",
        "outputPayloadType": "json",
        "maxEventCount": "0",
        "x": 1630,
        "y": 3840,
        "wires": [
            [
                "f8528921012b750e",
                "436c27e43806e4a3",
                "31f8b1f20541496f"
            ]
        ]
    },
    {
        "id": "f7b4cb397e1a67b8",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "toggle",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "toggle",
        "payloadType": "str",
        "x": 1210,
        "y": 3880,
        "wires": [
            [
                "a54d4fb7a9e7aa32"
            ]
        ]
    },
    {
        "id": "3471ef1c29091d0f",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "stop",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "stop",
        "payloadType": "str",
        "x": 1210,
        "y": 3840,
        "wires": [
            [
                "a54d4fb7a9e7aa32"
            ]
        ]
    },
    {
        "id": "f8528921012b750e",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\":4.234}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\":8.234}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1870,
        "y": 3800,
        "wires": []
    },
    {
        "id": "a0bfe814c5d545ba",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\": 0}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\": 1}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 910,
        "y": 3620,
        "wires": []
    },
    {
        "id": "d565ae951b76f5a4",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "start",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "start",
        "payloadType": "str",
        "x": 1210,
        "y": 3960,
        "wires": [
            [
                "6d4150f0d307b740"
            ]
        ]
    },
    {
        "id": "6d4150f0d307b740",
        "type": "event",
        "z": "8f6af147be20bf75",
        "name": "High Event Site Temp",
        "controlTopic": "control",
        "startCmd": "start",
        "stopCmd": "stop",
        "distribution": "gaussian",
        "expMeanInterval": 1,
        "minInterval": "3",
        "maxInterval": "2",
        "gaussMeanInterval": "5",
        "stdDev": "5",
        "outputTopic": "YAKU001/read/45MR-3800-0@AI00-QBandRSSI/aiValueRaw",
        "outputPayload": "{\"value\":40}",
        "outputPayloadType": "json",
        "maxEventCount": "0",
        "x": 1640,
        "y": 4000,
        "wires": [
            [
                "93a521321145f457",
                "4c280ad219f9c2c3",
                "5eaa83c3533acfe9"
            ]
        ]
    },
    {
        "id": "278383aad46e2861",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "toggle",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "toggle",
        "payloadType": "str",
        "x": 1210,
        "y": 4040,
        "wires": [
            [
                "6d4150f0d307b740"
            ]
        ]
    },
    {
        "id": "8516e46c06e130a9",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "stop",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "stop",
        "payloadType": "str",
        "x": 1210,
        "y": 4000,
        "wires": [
            [
                "6d4150f0d307b740"
            ]
        ]
    },
    {
        "id": "ccd57fb9eb9717f6",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "start",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "start",
        "payloadType": "str",
        "x": 1210,
        "y": 4080,
        "wires": [
            [
                "497514d2034d84a8"
            ]
        ]
    },
    {
        "id": "497514d2034d84a8",
        "type": "event",
        "z": "8f6af147be20bf75",
        "name": "Normal Event Site Temp",
        "controlTopic": "control",
        "startCmd": "start",
        "stopCmd": "stop",
        "distribution": "gaussian",
        "expMeanInterval": 1,
        "minInterval": "3",
        "maxInterval": "2",
        "gaussMeanInterval": "5",
        "stdDev": "5",
        "outputTopic": "YAKU001/read/45MR-3800-0@AI00-QBandRSSI/aiValueRaw",
        "outputPayload": "{\"value\":20}",
        "outputPayloadType": "json",
        "maxEventCount": "0",
        "x": 1650,
        "y": 4120,
        "wires": [
            [
                "93a521321145f457",
                "4c280ad219f9c2c3",
                "5eaa83c3533acfe9"
            ]
        ]
    },
    {
        "id": "b08efb5fad2a8bfd",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "toggle",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "toggle",
        "payloadType": "str",
        "x": 1210,
        "y": 4160,
        "wires": [
            [
                "497514d2034d84a8"
            ]
        ]
    },
    {
        "id": "9477465c65a2f247",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "stop",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "stop",
        "payloadType": "str",
        "x": 1210,
        "y": 4120,
        "wires": [
            [
                "497514d2034d84a8"
            ]
        ]
    },
    {
        "id": "93a521321145f457",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\":40}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\":20}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1990,
        "y": 4080,
        "wires": []
    },
    {
        "id": "f4cc4f5157ee4501",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "start",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "start",
        "payloadType": "str",
        "x": 1210,
        "y": 4260,
        "wires": [
            [
                "4b83b962e243db77"
            ]
        ]
    },
    {
        "id": "4b83b962e243db77",
        "type": "event",
        "z": "8f6af147be20bf75",
        "name": "High Event Cabinet Temp",
        "controlTopic": "control",
        "startCmd": "start",
        "stopCmd": "stop",
        "distribution": "gaussian",
        "expMeanInterval": 1,
        "minInterval": "3",
        "maxInterval": "2",
        "gaussMeanInterval": "5",
        "stdDev": "5",
        "outputTopic": "YAKU001/read/45MR-3800-0@AI00-QBandRSSI/aiValueRaw",
        "outputPayload": "{\"value\":40}",
        "outputPayloadType": "json",
        "maxEventCount": "0",
        "x": 1650,
        "y": 4300,
        "wires": [
            [
                "5e4aaad9447b7f1a",
                "fc43b9a7521f91bc",
                "c81125ace896fd4b"
            ]
        ]
    },
    {
        "id": "c95f5e8f55315178",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "toggle",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "toggle",
        "payloadType": "str",
        "x": 1210,
        "y": 4340,
        "wires": [
            [
                "4b83b962e243db77"
            ]
        ]
    },
    {
        "id": "bae3d8efa52c7395",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "stop",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "stop",
        "payloadType": "str",
        "x": 1210,
        "y": 4300,
        "wires": [
            [
                "4b83b962e243db77"
            ]
        ]
    },
    {
        "id": "e2db08be5bdaea03",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "start",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "start",
        "payloadType": "str",
        "x": 1210,
        "y": 4380,
        "wires": [
            [
                "8bfd8993e592989e"
            ]
        ]
    },
    {
        "id": "8bfd8993e592989e",
        "type": "event",
        "z": "8f6af147be20bf75",
        "name": "Normal Event Cabinet Temp",
        "controlTopic": "control",
        "startCmd": "start",
        "stopCmd": "stop",
        "distribution": "gaussian",
        "expMeanInterval": 1,
        "minInterval": "3",
        "maxInterval": "2",
        "gaussMeanInterval": "5",
        "stdDev": "5",
        "outputTopic": "YAKU001/read/45MR-3800-0@AI00-QBandRSSI/aiValueRaw",
        "outputPayload": "{\"value\":20}",
        "outputPayloadType": "json",
        "maxEventCount": "0",
        "x": 1660,
        "y": 4420,
        "wires": [
            [
                "5e4aaad9447b7f1a",
                "fc43b9a7521f91bc",
                "c81125ace896fd4b"
            ]
        ]
    },
    {
        "id": "d004fe2d0a190158",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "toggle",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "toggle",
        "payloadType": "str",
        "x": 1210,
        "y": 4460,
        "wires": [
            [
                "8bfd8993e592989e"
            ]
        ]
    },
    {
        "id": "f0262fc93f81d56d",
        "type": "inject",
        "z": "8f6af147be20bf75",
        "name": "stop",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "stop",
        "payloadType": "str",
        "x": 1210,
        "y": 4420,
        "wires": [
            [
                "8bfd8993e592989e"
            ]
        ]
    },
    {
        "id": "5e4aaad9447b7f1a",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\":40}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\":20}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 2010,
        "y": 4380,
        "wires": []
    },
    {
        "id": "278fa929d79e4aa8",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\":0}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\":1}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 4100,
        "wires": []
    },
    {
        "id": "0b1f0c646bdaebf8",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\":0}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\":1}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 630,
        "y": 4280,
        "wires": []
    },
    {
        "id": "56e9fc5757b1e21f",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\":0}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\":1}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 590,
        "y": 4440,
        "wires": []
    },
    {
        "id": "9300562997f3aaf1",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\":0}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\":1}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 570,
        "y": 4580,
        "wires": []
    },
    {
        "id": "2303d6f01ea61179",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\":0}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\":1}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 610,
        "y": 4740,
        "wires": []
    },
    {
        "id": "0415b7f9d0373a98",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\":0}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\":1}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 630,
        "y": 4900,
        "wires": []
    },
    {
        "id": "047834bc698f1095",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "38bb42b4a055f85d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\":0}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\":1}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 610,
        "y": 5080,
        "wires": []
    },
    {
        "id": "c5650ff433298648",
        "type": "ui_led",
        "z": "8f6af147be20bf75",
        "order": 7,
        "group": "be2d9ae06cc76f30",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"value\":0}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"value\":1}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 530,
        "y": 5740,
        "wires": []
    }
]